/* CART COUNTER */

.rwsCounter {
  position: absolute;
  bottom: 0;
  right: -10px;
  display: block;
  background: #404040;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

/* BUTTON */
.rwsButton {
  display: inline;
  position: relative;
  background-color: transparent;
  color: #0f192c;
  padding: 5px 7px;
  border: none;
  border-radius: 2px;
  transition: 0.25s ease-in-out;
}

.rwsButton:hover {
  cursor: pointer;
  color: #989797;
}
