@import "open-props/style";

:root {
  --link: var(--pink-4);
  --padding: var(--size-3);

  /* color pallete */
  --primary: var(--pink-4);
  --primary-shade: #EE2997;
  --primary-tint: #D6B7D7;
  --secondary: #43FCFD;

}
