@import "open-props/style";

:root {
  --link: #7955ca;
  --padding: var(--size-3);


  /* color pallete */
  --primary: #7955ca;
  --primary-tint: #D6B7D7;
  /* --secondary: #43FCFD; */
  --secondary: var(--gray-6);
  --white: #fff;
  --black: #0a0a0a;
  --gray-light: var(--gray-1);
  --gray-dark: var(--gray-5);

  /* brand colours */
  --redwood: #bf4722;
  --stripe: #635aff;

  --brand-gradient: linear-gradient(-45deg, rgba(191,71,34,1) 0%, rgba(99,90,255,1) 100%);

  /* constants */
  --shadow: var(--shadow-4);
}
